<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_BLL.Properties.Settings.QLNTTDAConnectionString"
            connectionString="Data Source=LAPTOP-KKKFEHJ4\SQLEXPRESS;Initial Catalog=QLNTTDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_BLL.Properties.Settings.QLNTTDAConnectionString1"
            connectionString="Data Source=LAPTOP-KKKFEHJ4\SQLEXPRESS;Initial Catalog=QLNTTDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>